[2014-09-04 02:44] ahmetb opened #5 "ToArray()"
is not exactly idiomatic Python.

Saw the example here. http://azure.microsoft.com/en-us/documentation/articles/documentdb-python-application/

There should not be a need for such a method.

Also the naming convention does not meet Python. Please run this code through pep8.

[2014-09-04 03:14] ahmetb opened #6 "Tests are failing due to connectivity to test server"
The following instructions are not clear to run the tests:

[code]

I cannot connect to the test server (localhost:443, I believe) and get the following error in all test methods. Is there a way to start the test server with the command above?

[code]

Note: running on OS X.

[2014-09-04 06:48] #6 closed, assigned to nobody

[2015-05-27 10:02] alfonsomhc opened #20 "Add __version__ to module"
It is kind of standard to have a **version** variable that provides the module version. Please add that :)

http://stackoverflow.com/questions/458550/standard-way-to-embed-version-into-python-package

[2015-06-18 03:46] yokawasa opened #21 "Support Partitioning?"
Thank you for awesome python SDK for documentdb!

I'm wondering if you are going to support partitioning like .NET SDK does
http://azure.microsoft.com/blog/2015/04/30/announcing-partitioning-support-in-the-documentdb-sdk/

[2015-06-18 20:48] ryancrawcour commented on #21
This is certainly something that is planned for a future release of the Python SDK. Just don't have a committed timeline for this.

We would however welcome contributions if this is something you would like to work on.

[2015-10-14 06:51] GanadiniAkshay opened #28 "Improve documentation on the site"
Please provide more documentation regarding the methods in document_client and other files

[2015-11-10 23:22] rbcarson opened #29 "Running unit tests with bad master key raises unfriendly exception"
I ran the unit tests with an intentionally invalid master key. The tests fail with:

[code]

Some tests also log `WARNING:root:Operation will NOT be retried. Exception: Incorrect padding`.

[2015-11-11 00:50] rbcarson opened #30 "Unit tests don't all pass, due to HTTP 429 throttling"
When I run the unit tests, many of them end up failing due to throttling:

[code]

Sometimes the server response is slightly different:
[code]

I tried adding a delay of 15 seconds between tests, but this only reduces the number of failures. I'm not the owner of the DocumentDB account, so I don't know what performance level is configured, or what kind of load the Collection is experiencing. It's a

[2015-11-11 06:22] rnagpal commented on #30
Hi Carson,

Thanks for reporting this issue.

Running these tests all at the same time might result in 429s as you see but I'm surprised that adding the delay of 15 secs between the tests is still causing the throttle. In the second case, are the same set of test cases failing? Probably, each of those tests are making several requests too soon causing the throttle within the same test case. Most o

[2015-11-11 06:35] rnagpal commented on #29
Hi Carson,

I tried tampering with the master key by deleting some of the chars and I was getting:

HTTPFailure: Status code: 401
{"code":"Unauthorized","message":"The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign: 'get\ndbs\n\nwed, 11 nov 2015 06:30:31

[2015-11-11 07:05] rbcarson commented on #29
Hey Rajesh - something like "xxxxx" or the existing dummy value of "[YOUR_KEY_HERE]" triggers the exception.

[2015-11-11 07:24] rbcarson commented on #30
Hi Rajesh. Thanks for the insight. I believe that the failures with the 15 second delay are a subset of the failures with no delay -- I didn't look too closely at the results because without any delay, about half the tests fail.

It would be great to have a retry policy for all the methods in pydocumentdb. I am open to contributing, but I'm not yet familiar enough with DocumentDB. [This post](http

[2015-11-11 23:41] rnagpal commented on #30
The 2 slightly different versions of the error messages you were seeing for throttle scenarios was due to the fact that sometimes throttle is detected at the gateway level and Gateway sends RequestTooLargerException(the second one that you are seeing). The first one is coming directly from the server and hence has a slightly different message but since both of them have status code 429, they are d

[2015-11-12 00:49] rnagpal commented on #30
Looks like there is something already present currently: https://github.com/Azure/azure-documentdb-python/blob/master/pydocumentdb/backoff_retry_utility.py

[2015-11-12 01:21] rbcarson commented on #30
For now, I'm experimenting with the REST API without using pydocumentdb. I'll try implementing automatic retry based on your link - thanks.

[2015-11-12 02:02] rbcarson opened #31 "Query request retry policy may not be working"
It looks like ResourceThrottleRetryPolicy in backoff_retry_utility.py is used in QueryIterable to provide automatic retry for the various querying methods in DocumentClient (but nowhere else yet). I suspect that it doesn't work though: [backoff_retry_utility.py#L69](https://github.com/Azure/azure-documentdb-python/blob/master/pydocumentdb/backoff_retry_utility.py#L69) tries to access member `retry

[2015-11-12 03:30] rnagpal commented on #31
I haven't tested this completely but

Can you try replacing:

self.retry_after_in_milliseconds = exception.retry_after_in_milliseconds

with:

self.retry_after_in_milliseconds = exception.headers[http_constants.HttpHeaders.RetryAfterInMilliseconds]

and see if that resolves the issue.

Regards,
Rajesh

[2015-11-27 21:23] colinmcintosh opened #32 "Python 3 Support"
Are there plans to include support for Python 3?

[2015-11-27 21:28] ryancrawcour commented on #32
Yes, there are. No committed date as yet though. We'd be more than happy to accept a PR.

[2015-11-27 21:28] #32 closed

[2016-01-20 14:54] machinbenjamin commented on #31
Hi Rajesh, first of all, thanks for your great work!

I have two things to comment here:

1. In the Execute function, notice that sleep is called with a parameter in milliseconds, but it expects it in seconds, so, it will sleep for way too long.

2. In the _CheckIfRetryNeeded function, the headers attribute of the exception is a list of tuples, in the form (key, value). So, it should either be tra

[2016-01-29 00:58] xou commented on #31
Hi, i've ran into the same problem, implemented the changes @machinbenjamin suggested and created a pull request (#35).

Best Regards,

Niko

[2016-01-29 19:53] ryancrawcour commented on #31
Thanks for the PR. if you could add a new test for this PR we will accept and push a new version.

[2016-02-01 00:19] xou commented on #31
Hi,

thanks for the quick response. Is there a recommended way to test this kind of error? As far as I can see, the *error* tests in `test/crut_test.py` connect to an actual documentdb instance and rely on an invalid request, such missing permissions. Testing that a request-rate exceeded error is handled correctly using an actual documentdb instance would depend a lot on timing (and the connection

[2016-02-01 01:08] xou commented on #31
If you're interested, i've hacked together a testcase for approach 2 here:

https://gist.github.com/xou/f97547b98a38ea8e8f03

The "on continuation" testcase fails with the old version, and succeeds with the PR applied. The "fail immediately" testcase fails in both versions, unsure where the problem is exactly (can look into it later).

[2016-02-01 19:56] ryancrawcour commented on #31
looks good. are you able to add the test in to the existing tests - https://github.com/Azure/azure-documentdb-python/tree/master/test

[2016-02-01 23:43] xou commented on #31
Hi,

I've cleaned the test up a bit and added it to the PR. As mentioned above, one test currently fails and is disabled in the PR. Maybe someone with more Azure experience than me can comment on this, how does Azure respond when the rate limit is exceeded on the first request? Is `x-ms-continuation` set in that case?

I'm guessing that the problem might be that in [`query_iterable.py`/`fetch_item

[2016-02-01 23:52] ryancrawcour commented on #31
awesome. thank you. will take a look now.

[2016-02-02 00:18] ryancrawcour commented on #31
if you hit the 429 on the first request you will not get a continuation token. it will simply fail with the 429 and the retry-after header will be set in the response.

[2016-02-02 00:19] ryancrawcour commented on #31
fixed with [PR #35](https://github.com/Azure/azure-documentdb-python/pull/35)

[2016-02-02 00:19] #31 closed

[2016-02-03 18:37] ryancrawcour commented on #21
This has been completed with the release of 1.5.0
https://azure.microsoft.com/en-us/documentation/articles/documentdb-sdk-python/

[2016-02-03 18:37] #21 closed

[2016-02-03 18:37] #28 closed

[2016-02-08 01:06] yokawasa commented on #21
That's awesome! Thank you.

[2016-04-05 00:53] Bartleby2718 opened #43 "get_or_create method"
Correct me if there's a better way, but I found myself copying and pasting the following code (or something similar) over and over again :

[code]

So, how about a `get_or_create_sometype`method in the `DocumentClient` class of pydocumentdb/document_client.py, like [the one in Django QuerySet class](https://github.com/django/django/blob/master/django/db/models/query.py#L463)? Then, the code above

[2016-04-05 01:23] rnagpal commented on #43
I fixed the link to contribution guidelines. Feel free to submit a PR for this or else we would add it to our backlog and get to it in near future.

[2016-04-11 10:02] rudimk opened #46 "ODM for DocumentDB?"
Having an object-document mapper for DocumentDB would be immensely helpful, instead of embedding raw queries within Python. Wondering if something along those lines is in the works? If not, maybe I could try building a basic ODM module.

[2016-04-28 10:46] edevil opened #48 "Python 3 support"
Is it planned?

[2016-06-02 02:39] rnagpal commented on #48
We will look into what it takes to have a Python 3 package for DocumentDB.

Is there any specific reason/requirement you have for Python 3?

[2016-06-02 07:21] edevil commented on #48
Not anything specific, we just don't use Python 2 anymore.

[2016-06-02 16:46] rnagpal commented on #48
Thanks for the feedback. I'll update you in the next few weeks how that is going.

[2016-06-07 14:55] RedCraig opened #49 "Many `crud_tests.py` tests fail due to code 429 - Request rate is large"
Hey there,

I have:
- a fresh checkout of azure-documentdb-python
- provisioned a brand new docdb instance (and haven't changed any settings)
- entered my credentials in `tests/crud_tests.py`
- added `azure-document-db` to the path, so tests can import and use it

Running:
[code]
gives:
[code]

One of the errors is:
[code]

The other 39 errors are all `code:429`, "Request rate is large".

A second

[2016-06-07 15:26] RedCraig commented on #49
Ah, I just noticed issue #30 which reports the same.

[2016-06-07 15:34] RedCraig commented on #29
I get the same `Error: Incorrect padding` when I haven't entered the `[YOUR_KEY_HERE]` & `[YOUR_ENDPOINT_HERE]`.

[2016-06-07 16:28] rnagpal commented on #49
@RedCraig : 429s are expected in this case since each test does a database/collection create. I'll be going to change all these test cases to re-use the database/collection to avoid throttling and also to avoid getting billed for each collection create when running the tests.

I'm going to take a look at the unauthorized exception and the BadRequest exception and get back to you soon.

[2016-06-07 17:07] RedCraig commented on #49
@rnagpal reducing the number of requests is a good idea. I'm new to docDB, if you reuse the same db/collection are there any consistency issues you could run into when re-using across test cases?

[2016-06-07 20:43] jbarguil opened #50 "Multi-threaded DocumentClient"
Hi, sorry if this isn't the best place but I have a question regarding `pydocumentdb.document_client.DocumentClient`.

I'm building an API based on flask, and I'd like to know what is the best approach:
  - Should I keep a single instance of DocumentClient OR
  - Should I instantiate it several times, once per request?

In other words, is `DocumentClient` thread-safe?

Thanks in advance!

[2016-06-09 16:49] rnagpal commented on #50
@jbarguil : Just have a single instance of DocumentClient.

DocumentClient Python SDK module is single threaded.

[2016-06-09 20:44] RedCraig opened #52 "intermittent auth hiesenbug: HTTPFailure: 401 - "The input authorization token can't serve the request""
I'm intermittently getting 401's when running tests:

[code]

Repeating the same test method a few times usually makes the above error occur.

Is there a way to get server logs for my docDB which will show the `ActivityId: c0d2a470-5e3e-45f5-a4a1-0c2f05316540"`?

I'm running latest master (this [commit](https://github.com/RedCraig/azure-documentdb-python/commit/fe95945cae62ee4a68ae53bc5519bec11f07

[2016-06-09 21:37] RedCraig commented on #52
I feel like this is HMAC/timestamp related. How long is the HMAC timestamped request valid for before docDB server decides it's too old to honour?

[2016-06-09 22:48] RedCraig commented on #52
Just realised this only occurs with the `test_attachment_crud_name_based` test case.

[2016-06-10 14:37] RedCraig commented on #29
@rnagpal it's because of `auth.py` `__GetAuthorizationTokenUsingMasterKey` [here](https://github.com/Azure/azure-documentdb-python/blob/fe95945cae62ee4a68ae53bc5519bec11f07522c/pydocumentdb/auth.py#L61) it does:
`key = master_key.decode('base64')`

If the invalid master key doesn't decode from base64 correctly, then you get the error: `Error: Incorrect padding`, but the stacktrace is not correct d

[2016-06-10 20:41] rnagpal commented on #28
@GanadiniAkshay : I just happened to look into this issue. Please find the documentation here: http://azure.github.io/azure-documentdb-python/api/pydocumentdb.document_client.html#module-pydocumentdb.document_client

[2016-06-11 18:27] #50 closed

[2016-06-11 18:38] rnagpal commented on #29
@RedCraig We had fixed this stack trace issue sometimes in Jan this year, so the stack trace shown in the initial thread now shows as:

File "F:\DocDB-Main1\Product\SDK\python\python\pydocumentdb\auth.py", line 37, in GetAuthorizationHeader
    document_client.master_key)
  File "F:\DocDB-Main1\Product\SDK\python\python\pydocumentdb\auth.py", line 61, in __GetAuthorizationTokenUsingMasterKey
    k

[2016-06-12 02:04] jbarguil commented on #50
@rnagpal Thank you!

[2016-06-12 06:14] rnagpal commented on #5
Will take a look at pep8 convention and hopefully make the Python SDK complaint with it. Reopening this so that we can track this.

[2016-06-29 21:36] ahmetalpbalkan commented on #5
@rnagpal great to hear, I hope it follows Python coding idioms completely; not just pep8.

[2016-07-01 04:37] rnagpal commented on #29
@rbcarson : @RedCraig had fixed this issue by submitting a PR which has been merged. Closing this issue.

[2016-07-01 04:37] #29 closed

[2016-07-08 19:45] rnagpal commented on #49
@RedCraig : The tests now pass as we now have the default retry policy in Python that retries every request on getting a 429. I just ran it on a production instance and all tests passed. Let me know if you still run into any issue running the tests. I couldn't repro the Unauthorized or BadRequest issue and may be that's fixed. If you see it anytime, send us the ActivityId and we will investigate.

[2016-07-08 19:45] #49 closed

[2016-07-08 19:47] rnagpal commented on #30
@rbcarson : This issue has been fixed with 1.9.0 release. You should be able to run the tests without any custom retry logic.

[2016-07-08 19:47] #30 closed

[2016-07-14 12:02] RedCraig commented on #49
@rnagpal thanks! I'll give the tests a whirl.

[2016-09-21 18:41] dy-wang commented on #48
Hi, I wanted to see if there's any update on this? Thanks.

[2016-09-22 01:15] rnagpal commented on #48
Yes, we are in final stages of verifying Python 3 support and will be releasing within a week or so.

[2016-10-02 04:41] rnagpal commented on #48
@edevil @dy-wang We have released 2.0.0 release for Python SDK that has the support for Python3 along with Python2.

[2016-10-02 04:41] #48 closed

[2016-10-02 04:53] rnagpal commented on #6
@ahmetalpbalkan The Readme now contains the instructions to replace this with your account details.

[2016-10-02 04:58] rnagpal commented on #32
@colinmcintosh We now support Python3 with SDK release 2.0.0

[2016-10-02 04:59] colinmcintosh commented on #32
Woohoo!! Thanks for the update @rnagpal

[2016-10-26 04:17] kradNZ opened #70 "Samples Not Working - Python 2.7.11 Windows With py documentdb V2.0"
Samples Not Working - Python 2.7.11 Windows With py documentdb V2.0

Actually not sure if I've ever got the samples working.

In addition to that I have a project that was working with pydocumentdb V1.9 but it no longer works with V2.0.

It seems like many methods no longer return what they used to?  Eg: client.QueryDatabases()

Error messages all point to an issue with iterators?  Not sure how to

[2016-10-28 03:54] moderakh commented on #70
@kradNZ
Could you please provide more information on what the error message is? possibly the stacktrace?

[2016-11-17 22:37] brettcannon opened #81 "CollectionManagement sample has an IDisposable that doesn't match it's docs"
If you look at [IDisposable](https://github.com/Azure/azure-documentdb-python/blob/1766aa9fc7cfc3b61c71248866e543a293595f0d/samples/CollectionManagement/Program.py#L49) in the ManageCollections sample you will notice it says that it's for use in a context manager to call a `close()` method. But if you look at the actual code there's no call to a `close()` method. I also didn't find a `close()` met

[2016-12-17 12:43] Philmist opened #82 "Can't create StoredProcedure"
I use DocumentDB Emulator, but this python SDK can't create stored procedure.
[code]

Please forget about Warnings.

[2017-01-06 18:14] thenewwazoo opened #83 "Header value types in Python3.5 fail requests validation"
We've recently migrated to Python 3.5, and are observing the following stack trace when making docdb requests:
[code]

(the header field that is causing the error in this particular case is ContentLength, set around line 198 of synchronized_request.py; forcibly setting the type here exposes other similar type problems in other header values)

This is observed using:
* python 3.5.2
* requests 2.12.

[2017-01-07 00:00] rnagpal commented on #83
@thenewwazoo I assume that you installed pydocumentdb via pip install without specifying requirements.txt on a global or virtual environment that already had higher version of requests than 2.10.0. Ideally it's recommended to install the SDK along with requirements.txt in a separate virtual environment so that you don't run into issues like that. Thanks for the PR! I'll go ahead and add few commen

[2017-01-14 20:39] rnagpal commented on #70
@kradNZ Could you send us the sample code with the expected and actual results?

[2017-01-28 22:21] rnagpal commented on #83
@thenewwazoo Please refer to my review comments to your PR and once you incorporate them we should be able to merge it.

[2017-02-03 20:33] skasturi opened #85 "LoopExit: This operation will block forever error"
I am seeing this error on Windows.

File "<clipped>", line 57, in get_document
    documents = list(query_res)
  File "build\bdist.win32\egg\pydocumentdb\query_iterable.py", line 111, in next
    return self.__next__()
  File "build\bdist.win32\egg\pydocumentdb\query_iterable.py", line 107, in __next__
    return next(self._ex_context)
  File "build\bdist.win32\egg\pydocumentdb\execution_context\e

[2017-02-24 15:21] ilyauts commented on #70
Traceback (most recent call last):
  File "Program.py", line 29, in <module>
    HOST = cfg.settings['host']
AttributeError: 'module' object has no attribute 'settings'

Is the response out of the box for the samples.

[2017-02-26 05:40] rnagpal commented on #83
@thenewwazoo Can you refer to my comment above and confirm how did you installed the SDK so that I can close this issue?

[2017-02-26 05:45] rnagpal commented on #85
@skasturi This looks like a SSL related error. Is this intermittent or you are hitting this consistently? If this is resolved now, Please let me know so that I can close this issue.

[2017-02-26 10:24] daigok opened #86 "synchronized_request.py throws SSLError if I work with a DocumentDB emulator."
pydocumentdb throws SSLError if I work with a DocumentDB emulator. synchronized_request.py checks if users work with a local emulator or not. But the code checking the host is not correct.

At the line 100 of synchronized_request.py,
`
is_ssl_enabled = (parse_result.hostname != 'localhost')
`
this compares the host is localhost or not. However, parse=result.hostname returns 127.0.0.1 hence request

[2017-02-26 19:15] skasturi commented on #85
@rnagpal Yes. Please close this. We traced this down to a different library error. Thank you very much.

[2017-02-26 19:15] #85 closed

[2017-02-28 09:32] amitbend opened #87 "Few questions (docs are hard to understand)"
Hi, I'm using `QueryDocuments` and the docs for pydocdb are very hard to understand, so i will ask here few questions:

1. where can i find the structure for a query dict (`query (dict) or (str), query`)
2. same for `options (dict), the request options for the request.`
3. How can i use `next()` on the results, let's say i want to fetch 10 results and later another 10. should i use in the query `t

[2017-02-28 23:55] skasturi opened #88 "Failover to other regions"
Hello,
     Does this SDK fail over to other Document DB replicated regions when one region is down?

Thanks,
Sasidhar.

[2017-03-08 02:19] rnagpal commented on #83
@thenewwazoo Please reopen if you run into this issue. As I mentioned above this looks like you didn't installed our package using requirements.txt

[2017-03-08 02:19] #83 closed

[2017-03-08 02:26] rnagpal commented on #88
@skasturi Failover is a service feature and not SDK feature. The only way you can trigger manual failover is through Azure portal. Automatic failover happens when your primary region is down.

If the failover happens, your client requests will automatically be directed to new primary, so no action needed from your end from SDK perspective.

Let me know if that answers your question.

[2017-03-08 19:04] #88 closed

[2017-03-08 19:09] rnagpal commented on #88
@skasturi Can you please point the documentation that confused you? If needed, we will fix it to avoid such confusion to others.

/cc: @mimig1

[2017-03-08 21:16] skasturi commented on #88
https://docs.microsoft.com/en-us/azure/documentdb/documentdb-regional-failovers

It says the following:

""" In the rare event of an Azure regional outage, DocumentDB automatically triggers failovers of all DocumentDB accounts with a presence in the affected region. """

1. What happens if I have data in West US 2 and West Central US? Would it fail over or not? Its shows only across regions and is

[2017-03-09 14:49] dennyglee commented on #88
Hi @skasturi

If you have data in West US 2 and West Central US, if there is a failure within West US 2 (which was set as your default write region) then DocumentDB automatically fails over to West Central US.  Region in this case is in reference to the data centers  (i.e. West US 2 and West Central US are separate regions).

As for the preferred list, when you setup geo-replication within Documen

[2017-03-14 19:38] ApexMuse opened #89 "Newer versions of requests library cause HTTP header issue"
- `CurrentMediaStorageUsageInMB`: int, current attachment content
          (media) usage in MBs (Retrieved from gateway ).

HTTP headers in the latest versions of the request library cause the following error:
requests.exceptions.InvalidHeader: Header value 0 must be of type str or bytes, not <class 'int'>

Judging from a quick lookup in the code, the 'CurrentMediaStorageUsageInMB' value seems to

[2017-03-15 18:09] mideeks commented on #89
I am running into this now too. It looks like there was a PR opened that fixed this but was closed because of something with unit tests:
https://github.com/Azure/azure-documentdb-python/pull/84

Can one of the maintainers please look at this and fix? We are unable to use pydocumentdb with the latest version of requests.

[2017-03-17 05:37] rnagpal commented on #89
@ApexMuse @mideeks If you install the pydocumentdb package using requirements.txt it should install the working version(2.10.0) of the requests module in your virtual environment and use that instead of the latest version that has issues. Anyways, will we look into to merging this as part of our upcoming release.

[2017-03-17 05:41] rnagpal commented on #86
@daigok Can you export the emulator certificate using instructions in https://docs.microsoft.com/en-us/azure/documentdb/documentdb-nosql-local-emulator-export-ssl-certificates and then add set the following environment variable to the location of the certificate. let me know if that resolves the issue.
os.environ["REQUESTS_CA_BUNDLE"] = "C:/localhost.cer"

We will work on exposing this option on t

[2017-03-17 17:56] mideeks commented on #89
Yes but this forces us to use an old version of requests in our entire project.

[2017-03-23 22:11] elibol opened #90 "Permissions Error on ReadMedia"
Hi,

When I try reading a media upload, I get a permissions error. Here is a snippet of what I'm doing:

[code]

The Error:
[code]

There isn't much documentation I could find on this, so any feedback is appreciated.

- Melih

[2017-03-27 04:25] rnagpal commented on #89
@ApexMuse @mideeks The fix for this will be released next week.

[2017-03-27 04:32] rnagpal commented on #86
@daigok We will be releasing a fix for this issue next week.

[2017-04-11 21:47] lediur commented on #89
Is there an update for when the fix might be available?

[2017-04-24 22:11] skasturi commented on #89
We are waiting for update on this as well. Can you please let us know if this is fixed? @rnagpal

[2017-04-24 22:24] rnagpal commented on #89
The fix is checked in to our internal repo. I'll get the release out in next few days.

[2017-04-27 15:40] rnagpal commented on #89
We have fixed this issue in the Python SDK 2.1.0 release. Please let us know if you run into any issues.

[2017-04-27 15:40] #89 closed

[2017-04-27 15:42] rnagpal commented on #86
This has been fixed in the Python SDK 2.1.0 release. Please set DisableSSLVerification property on ConnectionPolicy object to turn off SSL verification when connecting to emulator.

[2017-04-27 15:42] #86 closed

[2017-05-16 07:00] SychevIgor opened #93 "it's time to rename the repo to azure-cosmosdb-python"
Because we had renamed documentDB to cosmosDB - it will be right if we will update the repo name as well.

[2017-05-16 22:47] moderakh commented on #93
@SychevIgor

Thanks for the question. This repo still provide a SDK for DocumentDB APIs and so we are not planning to change the package name nor the repo name.

[2017-05-16 22:47] #93 closed

[2017-05-29 16:01] Blutude opened #94 "import config?"
Hello,
What is the config module? Where can I download it? Can't I get the Host, Key and ID directly from the azure website?

[2017-05-29 16:05] Blutude commented on #94
I am asking for /samples/DatabaseManagement/Program.py
I am trying to open my cosmosDB database on python.
Thanks,
Rony

[2017-06-13 12:28] runemy opened #95 "TypeError: 'dict_keys' object does not support indexing"
Hi

I'm trying to do a query on documentdb like this (tested with python 3.4 and 3.6):

[code]

And get:

[code]

See this link: https://stackoverflow.com/questions/18552001/accessing-dict-keys-element-by-index-in-python3

Could it be that line 98 in endpoint_component.py should have used `next(iter(item))` instead of `item.keys()[0]` ?

Br. Rune

[2017-06-14 05:32] rnagpal commented on #95
@khdang Can you look into this please? This seems to be related to aggregate query support.

[2017-06-14 07:25] runemy commented on #95
Minimal test case:

[code]
Replace with:

[code]

[2017-06-14 15:35] lnlwd commented on #95
Same problem here:
[code]
results in:
[code]

[2017-06-14 18:00] khdang commented on #95
@runemy thanks for catching this, and the suggestion. I'll fix it shortly. In the meantime, feel free to send a PR and we'll happy to merge it.

[2017-06-14 18:00] khdang commented on #95
@lnlwd thanks for reporting

[2017-06-19 06:51] runemy commented on #95
Thanks @khdang :) Would be nice if you can fix this and verify that an aggregated query works.

[2017-06-20 14:15] lnlwd commented on #95
Can you guys review my PR? It's working with @runemy and my queries.

[2017-06-20 16:23] rnagpal commented on #95
@khdang: Please review and merge.

[2017-06-29 03:52] whSwitching commented on #94
got a same problem.  you can just remove "import config as cfg" and replace
`HOST = cfg.settings['host']`
`MASTER_KEY = cfg.settings['master_key']`
`DATABASE_ID = cfg.settings['database_id']`

with

`HOST = "https://localhost:8081"`
`MASTER_KEY = "your key string"`
`DATABASE_ID = "your db id"`

[2017-07-21 05:41] runemy commented on #95
Any progress on this?

[2017-07-21 18:52] #95 closed

[2017-08-23 10:11] HKskn opened #97 "Where do i write "pip install pydocumentDB"?"
https://docs.microsoft.com/tr-tr/azure/cosmos-db/spark-connector, as the documentation, I didn't understand that where i write "pip install"  command. Could you help me about it?

[2017-08-25 17:40] george-deamont opened #98 "Ability to get/set continuation token"
Greetings. I am currently developing an API that queries documents in a collection, and returns the results. I would like to add functionality for obtaining the next page. From what I understand about DocumentDB, a continuation token is returned, in addition to the queried documents, if there are more results.

My thoughts are: obtain the token after the results are retrieved and return the token

[2017-08-28 23:33] moderakh commented on #98
@george-deamont You can get the results in pages using fetch_next_block however that requires keeping an instance of QueryIterator in memory since we currently do not expose the continuation token to the user's code.

Exposing continuation token to the user's code is in our roadmap, but for the time being please keep an instance of QueryIterator and use fetch_next_block to the results in pages.

[2017-08-28 23:38] moderakh commented on #97
pip is the python package manager. For more information please see pip guide:
https://packaging.python.org/tutorials/installing-packages/

[2017-08-28 23:38] #97 closed

[2017-09-13 09:29] nikunj08 opened #99 "Connection pool parameter is missing in connection policy"

[2017-09-18 16:44] ElvaHuang opened #101 "Add functionality to change throughput of collection after creation"
My application heavily relies on pydocumentdb to interact with cosmos. We're looking for the ability to change throughput of a collection after its creation, similar to [https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#set-throughput-sdk].

I can't seem to find it. Am I missing something? If not, can you add this important functionality? Thank you.

[2017-09-18 18:45] moderakh commented on #101
After the collection is created, you can query for the collection's offer which indicates the throughput after that you can replace the existing offer.

The following code shows how to find the relevant collection offer:
https://github.com/Azure/azure-documentdb-python/blob/master/test/crud_tests.py#L253-L257

After that you should replace the new offer as 'offerThroughput' in the retrieved offer

[2017-09-18 18:45] #101 closed

[2017-09-18 19:55] ElvaHuang commented on #101
Worked! Great! Thanks a lot.

[2017-10-15 23:23] peterj opened #104 "How to create Gremlin queries?"
I noticed that the .NET SDK has a ``` CreateGremlinQuery``` method, but the Python SDK doesn't. I am trying to run a simple query against a graph DB (e.g. ```g.V()```) and it's failing error code ```SC1001``` and message ```Syntax error, incorrect syntax near 'g'.```.

Here's an example of a call I am making:
[code]

Am I missing something or is this simply not implemented/included in the Python S

[2017-10-17 16:44] moderakh commented on #104
@peterj this SDK only provides documentdb api of cosmos db. There is no gremlin api here.

[2017-10-17 21:09] peterj commented on #104
Is there another Python SDK I could use to make Gremlin against DocumentDB?

[2017-10-17 21:15] moderakh commented on #104
@jayantacs knows more about Gremlin support. @jayantacs  can you please respond.

[2017-10-19 20:26] khdang commented on #99
@nikunj08 can you please provide more details on this issue?

[2017-11-05 22:10] HussainMir opened #106 "Collection link as a combination of _self and name doesn't work"
Hi,

I have a collection link as follows dbs/someDB==/colls/myCollection
When I try to delete collection with the above link, I get a BadRequest 400 exception. But, when I give the path as the database name (id), it works. So, I'm assuming either if I send both _selfs or both names, it works, but not for any other combination.
I think it would be nice to work with links which could have any combin

[2017-11-07 21:03] kirankumarkolli commented on #106
Currently cosmos db doesn't support hybrid addressing.
In most scenarios name based approach will work. Are you running into any issues?

[2017-11-07 21:12] HussainMir commented on #106
It's nice that Cosmos DB gives us the flexibility to use both types of addressing, so I thought it would
Was trying to handle this scenario where I've a database self link and collection id as follows,
`def DeleteCollectionIfExists(client, database_link, collection_id):
    try:
        collection_link = "dbs/{0}".format(DATABASE_ID) + "/" + 'colls/{0}'.format(collection_id)
        #collection_li

[2017-11-08 15:43] HussainMir commented on #94
We're maintaining these constants in a shared file "config.py" which is shared by all projects in the samples solution. Yes, alternatively you can define them in the same file i.e. program.py

[2017-11-08 17:54] HussainMir commented on #70
These are defined in the [config.py](https://github.com/Azure/azure-documentdb-python/blob/master/samples/Shared/config.py) file. This is a shared file across projects in the solution. And this works when we run any project as a whole not the individual file program.py.

[2017-11-08 17:55] HussainMir commented on #70
@rnagpal Looks like this is a duplicate of https://github.com/Azure/azure-documentdb-python/issues/94

[2017-11-14 08:55] HITliuyu opened #108 "Samples need to be improved"
This is not an issue, however, I strongly suggest maintainers provide more samples to us which would help python developers to have a better understanding of how to use this SDK. E.g., in sample folder, documents management sample is missing. As stated in #87 the documentation can hardly be understood since it is not complete at all, thus we really need good samples to walk us through these APIs.

[2017-11-14 18:52] moderakh commented on #108
Hi @HITliuyu Thanks for your comment. We are in the process of improving samples.
Please see an active effort for more samples:
https://github.com/Azure/azure-documentdb-python/pull/107

[2017-11-14 19:52] HITliuyu commented on #108
Hi @moderakh ，
thank you for your very quick reply! I will definitely check that.

Regards,
Yu

[2017-11-18 21:50] vykhand opened #109 "Bug in base.py? TypeError: a bytes-like object is required, not 'str'"
Dear project maintainers,

I am trying to read an attachment media as described [here](attach = client.CreateAttachmentAndUploadMedia(doc['_self'], readable_stream = pic)
print(attach))

[code]

and getting an error

`TypeError: a bytes-like object is required, not 'str'`

after debugging with %pdb in jupyter I narrowed down the issue:

[code]

So it looks like you should pass altchars as binary a

[2017-11-20 15:20] jdk514 opened #110 "Documentation styling is broken"
The styling of the [pydocumentdb documentation](http://azure.github.io/azure-documentdb-python/) appears to be broken.

[2017-11-20 15:42] vchalmel commented on #110
No it's not, but the online github version appears "blank" because it's not intended to be browsed like that. If you follow the instructions (given at the link you provided), to compile the doc on your side, it will generate local files with correct styling/browsing, etc.

[2017-11-20 16:31] mimig1 commented on #110
The styling of http://azure.github.io/azure-documentdb-python/ (with paragraph marks showing, etc) is as expected.

[2017-11-20 17:26] #110 closed

[2017-11-20 17:33] jdk514 opened #111 "Intermixing Mongo API and DocumentDB API breaks document structure"
Working with Cosmos I initially loaded documents through the Mongo API. When shifting over to using pydocumentdb I've run into formatting issues with the generated results ($t and $v key-values are inserted throughout the document).

An example of this problem can be found on [stackoverflow](https://stackoverflow.com/questions/45815507/azure-cosmos-db-mongodb-t-and-v), but no solution is provided

[2017-11-20 17:47] HussainMir opened #112 "Wondering if the Get Uri helper methods can be moved to pydocumentdb from crud_tests.py"
Hi,

I see some very good helper methods in crud_tests.py to get the Uris out of the names of the things I provide. e.g.
def GetDocumentLink(self, database, document_collection, document,
is_name_based=True):
        if is_name_based:
            return self.GetDocumentCollectionLink(database, document_collection) + '/docs/' + document['id']
        else:
            return document['_self']

Some

[2017-11-21 00:01] moderakh commented on #112
@HussainMir it is worth to have a UriFactory method as you mentioned in the python sdk.

For example please look at what we have in node:
https://github.com/Azure/azure-documentdb-node/blob/3aaf6f96c652bfa3e597050c8a0cd54f68844209/source/lib/uriFactory.js

If you are interested to send a PR for this we will merge your PR Hussain.

[2017-11-21 00:36] moderakh commented on #111
@jdk514 there is nothing wrong here. DocumentDB API provides different view over your data. Basically you can think about it as data which gets in using MongoDB API will have a slightly different representation when looking at it through DocumetnDB API.

[2017-11-21 01:00] alekseys commented on #111
Actually the problem described on StackOverflow looks similar but it's a different problem - they have two different schemas in different accounts.
In your case - inter-operability of the APIs is only possible between SQL and Gremlin API, others are not inter-operable.

[2017-11-21 16:48] jdk514 commented on #111
Does this mean that if I try to connect spark to my cosmos collection it will fail? I'm following the information [here](https://github.com/Azure/azure-cosmosdb-spark/wiki/Azure-Cosmos-DB-Spark-Connector-User-Guide), which indicates I will be hooking into cosmos using the DocumnetDB Java SDK. Given the issue of intermixing API's, it looks like this process will fail as the data will be improperly

[2017-12-07 22:52] moderakh commented on #111
@emilylawton can you please respond to the last question.

[2017-12-18 19:26] ElvaHuang opened #114 "Possible to change collection ttl after creation?"
My application relies heavily on pydocumentdb to interact with cosmos. We're looking for the ability to change TTL of a collection after its creation. We already know how to query the collection offer and change throughput by placing in an replacement offer. But I don't see a field for TTL there.

Is this supported? If not, what's a reasonable workaround?

Thank you!

[2017-12-19 22:34] srinathnarayanan commented on #114
Hi @ElvaHuang
You can replace the collection definition to modify its TTL value:
coll = client.ReadCollection(COLLECTION_LINK)
coll['defaultTtl'] = NEW_TTL_VALUE
client.ReplaceCollection(COLLECTION_LINK, coll)

[2017-12-20 21:57] bacongobbler commented on #108
looks like this can be closed now that the samples have been merged.

[2017-12-25 19:28] moriaki3193 opened #115 "How to serialize a dict type object when creating a document using CreateDocument ?"
I submit a issue for the first time.

I am new to Cosmos DB and  I have a question related to creating a `embedded ( or nested)` document.
I am trying to POST and create a document represented as below

[code]

However, an error occurs like below...

[code]

I read [this article](https://docs.microsoft.com/en-us/rest/api/documentdb/http-status-codes-for-documentdb) and noticed that the request bod

[2017-12-26 19:32] HussainMir commented on #115
Hi, just a random guess,
[code]
Also, request you to once go through the samples demonstrating [document management](https://github.com/Azure/azure-documentdb-python/blob/master/samples/DocumentManagement/Program.py).

Regards.

[2017-12-30 08:35] moriaki3193 commented on #115
I found that `np.NaN` caused the error.

[2017-12-30 08:35] #115 closed

[2018-01-06 10:55] algattik commented on #82
CreateStoredProcedure expects not a string but a dict. This will work:
[code]

[2018-01-08 15:20] Philmist commented on #82
Okay, I'll try it. thank you.

[2018-01-08 15:20] #82 closed

[2018-01-11 22:33] #114 closed

[2018-04-09 12:59] dkarmon opened #118 "Wrong brackets position closing causes document management code to fail"
Noticed a small typo in the [document management tutorial](https://raw.githubusercontent.com/Azure/azure-documentdb-python/master/samples/DocumentManagement/Program.py) that causes the code to fail.
It seems that the brackets in ReadDocuments function were closed too early making the second parameter (param dictionary) to be addressed as a second parameter of the list function (which should receiv

[2018-04-25 17:45] moderakh commented on #118
@dkarmon thank you very much for helping us in reporting this issue.

Now that you found this, I wonder if you are interested in sending a Pull Request for fixing it. We will merge PR and it will be your contribution.

Thanks.

[2018-04-26 06:58] sigma87 opened #120 "Proxy settings not taken into account ?"
Reading the documentation it should be possible to specify a proxy to use to connect to an Azure Cosmos DB :

http://azure.github.io/azure-documentdb-python/api/pydocumentdb.documents.html#pydocumentdb.documents.ProxyConfiguration

I try to test it by doing a test similar to this one : https://github.com/Azure/azure-documentdb-python/blob/07caab604adc7c8e3cadab918e8c599ab45f3b4b/test/crud_tests.py

[2018-05-02 22:30] evandropaula opened #121 "Missing support for direct connection mode (TCP and HTTPS)"
Currently, pydocumentdb version 2.3.1 SDK does not support the direct connection mode for HTTPS nor TCP. Please add support.

[Metadata]
Metadata-Version: 2.0
Name: pydocumentdb
Version: 2.3.1
Summary: Azure DocumentDB Python SDK
Home-page: https://github.com/Azure/azure-documentdb-python
Author: Microsoft
Author-email: askdocdb@microsoft.com
License: MIT

[Impact]
Performance
SDK consistency acro

[2018-05-09 17:34] srinathnarayanan commented on #118
PR has been merged. Closing this issue.

[2018-05-09 17:34] #118 closed

[2018-05-09 18:01] srinathnarayanan commented on #108
Closing this since PR has been merged

[2018-05-09 18:01] #108 closed

[2018-05-10 20:12] srinathnarayanan commented on #120
Hi @sigma87 thanks for bringing this issue to our attention. This is a bug we are currently working on and we will have it in our next release.

[2018-05-30 08:42] geriamir opened #122 "document_client has non-ASCII characters but there's no unicode declaration of the source file"
Line 930, there's a **’** which is not an ASCII character.

[2018-06-12 18:18] christopheranderson commented on #121
Thanks for the feature suggestion. We don't have any timeline to share, but we are investigating the best way of adding this support.

[2018-06-12 22:35] srinathnarayanan commented on #122
Will be fixed in next release

[2018-07-09 19:12] srinathnarayanan commented on #109
Hi @vykhand sorry for the delay on this. We are fixing this is our next release. thanks!

[2018-07-12 22:55] chcaru opened #124 "Timeout when attempting to create database"
When you have an account that has the maximum number of allowed databases, attempting to create a new one results in a timeout. There should be a clear error here.

[code]

[2018-07-15 08:45] geriamir commented on #122
When will be the next release?

[2018-07-23 08:13] Thijxx commented on #82
here `sproc` is a string so is this a bug in the documentation or am I reading this wrong?

https://docs.microsoft.com/en-us/python/api/pydocumentdb/pydocumentdb.document_client.documentclient?view=azure-python#createstoredprocedure

[2018-07-24 15:27] letmaik opened #125 "No retries on non-HTTP network issues"
When an HTTP error occurs, e.g. 429, then everything is handled as expected, triggering retries etc. and using the retry options of the connection policy of pydocumentdb.

However, if there is a network error such that a server is not reachable, then this results in an immediate exception without retries. This is because of two things:

1. pydocumentdb's retry_utility code only handles `errors.HTT

[2018-07-25 12:33] letmaik opened #127 "What is offerEnableRUPerMinuteThroughput when creating collections?"
When creating a collection, then `offerEnableRUPerMinuteThroughput` can be supplied in the options. I couldn't find any documentation on what this really means. In the Azure Portal one must select a "Throughput", there is no option to enable or disable anything.

[2018-07-25 12:41] letmaik opened #128 "Are collections created with "unlimited" storage capacity?"
The Azure Portal allows to create collections either with fixed size of 10GB without using partitions, or unlimited storage / partitioned:

![image](https://user-images.githubusercontent.com/530988/43201166-a2d578d0-900f-11e8-82ca-1e1cf3085a10.png)

I could not figure out how to influence this when using pydocumentdb when creating a collection. There also doesn't seem to be a way to specify the pa

[2018-07-25 13:30] Thijxx opened #129 "QueryDocuments list in Parameters"
The query with a single value (word) works fine. With the list (words) in Parameters it does not work. The query works in the Storage Explorer. Is there some way to provide a list of strings?

[code]

singlequery = JSON list of docs
multiquery = []

[2018-08-02 20:52] christopheranderson opened #130 "Create a test for AccessCondition"
We're missing access condition on replace tests.

[2018-09-05 14:51] austindonnelly opened #131 "0 rows returned by client lib, when server sends 429 on first page of query results"
There's a bug in how the client library deals with receiving "429 Too Many Requests" from the server when running a query.
If the server is so overloaded that it returns 429 starting right from the first page of query results, then the client mistakenly returns an empty result set to the caller.  I would have expected it to re-raise the 429 exception, so the caller knows it did not get the correct

[2018-09-25 21:42] docgregt opened #133 "documentation generates almost nothing"
I followed the directions to the letter and I get:
...
reading sources... [100%] index                                                or
WARNING: autodoc: failed to import module 'cosmos'; the following exception was raised:
No module named 'cosmos'
WARNING: autodoc: failed to import module 'auth' from module 'cosmos'; the following exception was raised:
No module named 'cosmos'
WARNING: autodoc:

[2018-09-26 19:31] srinathnarayanan commented on #133
Hi @docgregt, Thanks for bringing this to our notice. We will be fixing this shortly when we release a patch update.

[2018-10-04 18:29] kevroy314 opened #135 "[('SSL routines', 'ssl3_write_pending', 'bad write retry')] with CreateItem on large dictionary"
I'm writing several dictionaries using CreateItem and although most work, especially large ones throw [('SSL routines', 'ssl3_write_pending', 'bad write retry')] as an error. Googling around, many have mentioned this being a bug in requests prior to 2.9.0, but I'm way past that version, and I've run pip install -U on both requests and urllib3. Any suggestions? Is there a setting that will make it

[2018-10-04 18:38] moderakh commented on #135
@kevroy314
questions:

1) which version of the SDK are you using?
2) which OS platform?
3) which version of Python

Also can you please provide repro code?

[2018-10-08 15:24] adisaraf opened #136 "Incorrect padding exception thrown when DecodeBase64String is called in base.py"
While running the azure cli for cosmosdb I get an error `Incorrect Padding`. See below:

[code]
I was able to fix this problem by tracking it down to the `base.py` file which contains a method called `DecodeBase64String`. This method fails with that error when `base64.standard_b64decode` is called. I added `==` at the end of the string to be decoded and that appears to have fixed the problem. Howe

[2018-10-08 17:40] srinathnarayanan commented on #133
this has been fixed in the 3.0.1 release

[2018-10-08 17:40] #133 closed

[2018-10-08 17:46] srinathnarayanan commented on #136
Hi @adisaraf , can we get a repro for this issue? You can ping us at askcosmosdb@microsoft.com with the repro. Is this consistently reproing? Thanks

[2018-10-08 17:49] adisaraf commented on #136
Hi @srinathnarayanan Yes it is reproducible consistently. The reproduction steps are outlined above.
[code]
Please let me know if you need anymore info.

[2018-10-08 17:59] srinathnarayanan commented on #136
I was not able to repro it on a prod account. Can you please ping us on askcosmosdb@microsoft.com with the dbname, read key and url that you have used? Thanks.

[2018-10-08 18:09] adisaraf commented on #136
Thanks @srinathnarayanan I have sent the details to that e-mail address.

[2018-10-09 20:20] kevroy314 commented on #135
Sorry for the delayed response.

This is azure-cosmos 3.0.0, Python 3.6 via Anaconda3, and MacOSX 10.13.6.

I'm still working on reproducible code that doesn't involve private information. I'll post it if I can get it going. It's a little challenging because of the size of the data. I'm not convinced size is the only problem either because just throwing random data of a similar size at it didn't d

[2018-10-16 14:51] vchalmel opened #137 "Connexion fails due to fr_FR locale on Ubuntu"
I have two environments with python3 on Ubuntu and Windows using pydocumentdb to connect to cosmosdb.

Windows machine (python 3.5.4, locales set to fr_FR, CP_1252) can connect but Ubuntu machine (Python 3.5.2, locales set to fr_FR,UTF-8) couldn't. Error Message of the HTTPFailure is "The input date header is invalid format. Please pass in RFC 1123 style date format.
workaround by adding
`
import

[2018-10-16 23:36] christopheranderson commented on #137
Thanks for reporting and providing clear repro. Looks like we need to be more careful about which dates formats are getting used. We'll finish investigating and issue a fix.

[2018-10-22 23:24] Sprunth opened #138 "More fine-tuned retry/timeout control at the Request level"
Hi,

From what I can tell of the API, we can only set a `ConnectionPolicy` and `RequestTimeout` at the `DocumentClient` level.

There are scenarios where I would like to override the policy with a different one. for example, I would like a higher retry limit for certain `CreateItem` requests.

Can this be done right now? Or, are there plans to support this?

[2018-10-24 23:07] prburgu commented on #99
I believe this is referring to the inability to configure connection pool used by requests session in cosmosdb_client. I see that cosmosdb client uses requests session, but it doesn't provide a way to customize the requests session, so we are stuck with the default connection pool the requests session provides.
https://github.com/Azure/azure-cosmos-python/blob/master/azure/cosmos/cosmos_client.py#

[2018-11-07 19:03] #138 closed

[2018-11-19 12:58] thedrow opened #139 "Add support for Python 3.6 and 3.7"
Currently the README specifies that Python 3.3, 3.4 and 3.5 are supported.
In order to merge https://github.com/celery/celery/pull/4720 safely we need you guys to support 3.6 and 3.7. Our tests pass, but we'd rather have official support in case something goes wrong.
Are these Python versions supported? Is the README simply outdated?

[2018-12-23 04:52] nuno-andre commented on #127
It was [a way of provisioning requests units when you run out your RUs](https://www.ascent.tech/wp-content/uploads/documents/microsoft/cosmos-db/cosmos-db.pdf) _(pp. 258-263)_ but [it was retired](https://stackoverflow.com/a/47303207/3775493).

[2019-01-08 16:45] mindlessroman opened #141 "CosmosClient to use connectionstring"
Similar to [azure-cosmos-js's issue #184](https://github.com/Azure/azure-cosmos-js/issues/184), the Python SDK lacks the feature parity to the [.NET CosmosClient class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.cosmosclient?view=azure-dotnet-preview). A bit of a bummer; in the meantime, will have to parse a provided connection string. If the SDK is being provided in anothe

[2019-01-18 09:45] gugu91 opened #144 "Log retries"
Currently, there is no way of adding logs callbacks on reties as far as I can tell. Also, python logger seems to be initialised in a couple of classes but I can't find any calls. Is there something that can be done to surface why and when when client retries?

[2019-01-23 16:43] zooba opened #145 "pydocumentdb package installs "doc" module"
The `doc` folder is not excluded from your setup.py file, and so installing `pydocumentdb` creates a top-level `doc` module:

![image](https://user-images.githubusercontent.com/1693688/51622179-ed10ea00-1eea-11e9-89c5-d01bf776ddc1.png)

[2019-01-23 16:55] zooba commented on #145
Similarly for the `azure-cosmos` package, except that also installs a top-level `samples` package.

[2019-01-28 21:04] PsidomPC opened #146 "limit the number of items returned queryItems"
How do I limit the number of items returned when using `QueryItems`? I've tried both `maxItemCount` and `pageSize`, both don't seem to work:

[code]

[2019-01-29 18:45] sagarsharmas commented on #128
There is a pull request for Partition Key - https://github.com/Azure/azure-cosmos-python/pull/142.

[2019-03-12 18:34] srinathnarayanan opened #148 "MaxDegreeOfParallelism concept missing in Python SDK"
The Python SDK currently does not honor MaxDegreeOfParallelism passed in the feedOptions like the .Net SDK does : https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.feedoptions.maxdegreeofparallelism?view=azure-dotnet#Microsoft_Azure_Documents_Client_FeedOptions_MaxDegreeOfParallelism

This is because of the reliance on the requests library and not using async io. Ask is

[2019-03-12 22:12] christopheranderson opened #149 "Replace hash based indexing samples with range based samples."
We're not longer recommending hash based indexing, in favor of range. All these samples need adjusting:

Remove this
https://github.com/Azure/azure-cosmos-python/blob/master/samples/IndexManagement/Program.py#L369-L426

Change comment to indicate Range on strings is default.
https://github.com/Azure/azure-cosmos-python/blob/master/samples/IndexManagement/Program.py#L429

Same here too.
https://git

[2019-03-28 01:34] christopheranderson opened #153 "Repo clean up"
We're going through and cleaning up old issues/PRs that we don't have a clear path forward on.

Apologies that we've missed your issues in the past. If you'd like us to reopen your issue, just mention it down below.

[2019-03-28 16:24] Kagigz opened #154 "Error Not Found: Entity with the specified id does not exist in the system"
When trying to read a document, I get this error:
[code]

Here's the code:

[code]

Do you have any idea what might be causing this issue?

Thanks

[2019-03-28 20:49] christopheranderson commented on #154
Is it failing in ReadDocuments or ReadDocument?

Where is collection_link getting configured?

Usually I see this from ReadDocuments when you have a typo in your `collection_link` and it thinks that the database or collection doesn't exist.

[2019-03-28 22:56] Kagigz commented on #154
It is failing in ReadDocument.
There is no problem with ReadDocuments, I can display the IDs of all the documents in the collection. I pass the ID to ReadDocument down from there so I know that they exist, but when trying to read them I get a 404 error.

[2019-04-01 19:02] christopheranderson commented on #154
The partition key you're passing in request options needs to be the value, not the path.

So if your document is like:
[code]

Your code would call
[code]

You should modify your ReadDocument call to take in both properties:
[code]

Also FYI, id is only unique within a partition key. So each pair (id, pk) is unique, but neither by itself is unique.

[2019-04-01 19:02] #154 closed

[2019-04-08 02:47] yehoshuadimarsky opened #157 "Publish tagged Github releases (was: No Official Releases?)"
Why are there no releases in GitHub, even though I see that there is in fact a version based release cadence - the latest stable release being 3.0.2 and latest beta is 3.0.3-SNAPSHOT. Am I missing something?

I am asking because I am the maintainer for this SDK on conda-forge and it would be nice to be able cleanly see what version is the latest for this library.

[2019-04-16 06:13] srinathnarayanan commented on #120
This has been fixed in versions >= 2.3.3

[2019-04-16 06:13] #120 closed

[2019-04-18 21:46] bigdatamoore opened #158 "add wheel to PyPI for Python3"
Can you please add a wheel to PyPI for Python3?  Currently I only see Python2 there and it is a pain because when using this with Azure Functions, it forces me to build from source which in turn requires Docker.   Anyways, it would be nice to have Python3 wheels available.   Thanks

[2019-04-19 17:41] ealsur commented on #158
@srinathnarayanan What's our story with Python 3?

[2019-04-24 02:07] bigdatamoore commented on #158
any update?  still waiting for this as it is making working with Python Azure Functions more difficult as it requires docker to build.  Having the binary wheel available in PyPI would make that easier and faster.

[2019-04-24 22:24] srinathnarayanan commented on #158
Hi @bigdatamoore , I uploaded a python3 wheel for the latest version (3.0.2- https://pypi.org/project/azure-cosmos/#files ). Sorry for the delay!

[2019-04-24 22:24] #158 closed

[2019-04-24 22:26] srinathnarayanan commented on #157
We will be making official releases on Github starting V4.0.0, which is preview right now.

[2019-04-24 22:48] bigdatamoore commented on #158
Thanks so much.  You have no idea how much time this will save us in doing builds for Python azure functions.  I appreciate your quick response.

[2019-05-01 00:36] moderakh opened #164 "Add support for reading credentials from environment variable in v3"
Add support for reading credentials from environment variable in v3 sdk

[2019-05-06 13:52] davidkflau opened #168 "Unable to set includePaths indexes in indexingPolicy"
I found that the latest version 3.1.0 cannot set the indexes in the includePaths property. I ran the example but it's still not working. When I downgrade to version 3.0.2, everything works fine.

[2019-05-06 23:42] christopheranderson commented on #157
For context, we're moving this repo into the azure python sdk mono repo by the end of the month, so it will be tracked from there.

[2019-05-09 16:40] christopheranderson opened #169 "v3 arch review"
Have to present the v3 architecture to the ADX review board

[2019-05-10 15:17] MattHartz opened #170 "Query Partitioned Collection"
Hi,

I'm still fairly new to cosmosdb, but from my understanding it appears that cosmos db enforces collection partitioning. I am trying to query my partitioned collection with

```results = list(client.QueryItems(collection_link, query, partition_key="id"))```

and I get the error

```{"code":"BadRequest","message":"Cross partition query is required but disabled. Please set x-ms-documentdb-query-

[2019-06-03 14:04] stephane-tagheuer commented on #98
I have the same expectations as @george-deamont .
Reading and updating the SDK code on my side, I have been able to achieve what I wanted, modifying this line: https://github.com/Azure/azure-cosmos-python/blob/a21f6fb4bad3f59909ef43558b598f9fb476b7bc/azure/cosmos/execution_context/base_execution_context.py#L47

`options["continuation"]` is overridden by default. I don't really understand why this

[2019-06-14 18:35] jonahp-moran commented on #170
Same issue. Pretty disappointing to see that this month-old issue hasn't even been addressed. The docs for this API leave quite a bit to be desired.

For example - if anybody is actually going to see this - how does the `options` parameter work? I tried `{'x-ms-documentdb-query-enablecrosspartition': 'true'}`, `{'x-ms-documentdb-query-enablecrosspartition': True}`, nothing doing...

[2019-06-23 14:33] hlee-gs1us opened #173 "Documentation outdated"
I suspect that the documentation in the following link is outdated.

https://docs.microsoft.com/en-us/python/api/overview/azure/cosmosdb?view=azure-python

The documentation used `pydocumentdb` module. However, the API documentation does not reference such a module. For example, the client API has no mention of `pydocumentdb`.

https://docs.microsoft.com/en-us/python/api/overview/azure/cosmosdb/cl

[2019-07-02 23:38] Vin5 commented on #170
This helped me:
[code]

[2019-07-03 04:13] AbhishekSolanki opened #175 "ChangeFeed gets all the history records instead of current record."
change feed implementation in python gets all the record even though

options['startFromBeginning'] is set to false and
options['startTime'] = time

https://github.com/Azure/azure-cosmos-python/blob/master/samples/ChangeFeedManagement/Program.py
line 68-84.

[2019-07-03 14:10] vchalmel commented on #170
The partition key for a specific query is simply meant to be enclosed in a dictionary (it's the query parameters dictionary)

Here is a modified code from the original question
`results = list(client.QueryItems(collection_link, query, {partition_key:"id"}))`

Or you should provide a parameter to the query, or the client object, to allow cross-partition queries.

[2019-07-15 20:06] bigdatamoore commented on #125
We are also encountering this issue.  The default requests is currently set to 60 and there is no way to change this or pass in retry logic.

[2019-07-24 13:07] vchalmel opened #176 "How to send a query or stored procedure execution to a specific region/location ?"
Once a connection is defined with several PreferredLocations defined in the connectionPolicy, is it possible to micro-manage query and storedprocedures posts to parallelize calls to each locations/regions ?

There is no examples including anything regions related, and as for now the doc is still empty well...

[2019-08-06 20:17] srinathnarayanan commented on #170
@MattHartz you can perform a cross partition query using

client.QueryItems(collection_link, query, { "enableCrossPartitionQuery": True })

or if you want to perform a query using a specific partitionKey, you can use

client.QueryItems(collection_link, query, { "partitionKey": "pk_value" })

[2019-08-06 20:17] #170 closed

[2019-08-12 17:54] bigdatamoore commented on #125
Hi @srinathnarayanan can you take a look at this issue?  It is currently affecting our application in production.  I can provide more info...   I looked at the next version at https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py and I don't see that this has been resolved there either.  So probably this issue needs to be taken

[2019-08-13 20:24] bigdatamoore commented on #148
+1 on this

[2019-08-28 18:48] tuckeryatesjvion opened #179 "Documentation does not include how to create a database with provisioned throughput"
I just spent several hours figuring out how to create a database through the python api with provisioned throughput. This was easy from the azure portal, but documentation does not mention how to do this in the python API. Eventually, I figured out the solution by viewing the source code and finding a reference to "offerThroughput" and trying it as an option in cosmos_client.CreateDatabase. Exampl

[2019-09-10 23:59] bukarev opened #181 "No method get_database_client in CosmosClient"
The documentation and examples point to the method get_database_client(database) to get a database by ID. Python3 runtime throws an error that such method doesn't exist.

In fact, calling of dir() on a CosmosClient instance gives the list of methods not at all listed in the documentation, and it's consistent with the [source code right here]([url](https://github.com/Azure/azure-cosmos-python/blob/

[2019-10-10 02:50] fengzhou-msft opened #183 "pydocumentdb 2.3.5 install failed with homebrew"
I'm using homebrew to install azure-cli, which depends on pydocumentdb.

With the latest 2.3.5, the install failed with the following message:
[code]

It seems changelog.md is missing and setup.py throws the error. Please investigate.

[2019-10-23 09:10] RobertoPrevato commented on #181
Yep. I came here because I wanted to log the same issue.
The solution is to remove these lines:

[code]

The `QueryItems` method is directly on the `CosmosClient` class, which makes sense IMHO. The documentation about the "query" example is out of sync. By the way, an example on how to use continuation tokens would be nice.

[2019-10-25 02:40] jonringer commented on #183
this is an issue with the sdist package

[2019-10-25 02:42] jonringer commented on #183
should have been fixed in #182

there needs to be a 2.3.6 bump to apply these fixes though

[2019-10-27 09:01] privalof commented on #135
@moderakh  Happend to with azure-cosmos 3.0.0, and only if pyopenSSL installed.
Created PR: https://github.com/Azure/azure-cosmos-python/pull/185

[2019-10-29 21:19] srinathnarayanan commented on #125
The Fix is present in V 3.1.2 and V4.0.0b4 of azure-cosmos

[2019-10-29 21:19] #125 closed

[2020-01-10 20:58] clauney commented on #121
I know this issue is old, but is there any update? The current (I think) docs at https://docs.microsoft.com/en-us/python/api/azure-cosmos/azure.cosmos.documents.connectionpolicy?view=azure-python indicate there's still no support for ConnectionMode = direct

[2020-01-20 16:06] rajata07 commented on #146
any updates on this? I have the same issue. maxItemCount does not work.

[2020-01-27 12:49] glaubitz commented on #183
Could 2.3.6 be released? I just ran into this issue when trying to update ```pydocumentdb``` to 2.3.5 in openSUSE:

[code]

[2020-01-31 14:21] Druid-of-Luhn opened #187 "synchronized_request._Request is_media sniff bug"
(see Conclusion for TL;DR)

Package version (pip): `azure_cosmos-3.1.2-py3-none-any.whl`

### Observed error

When trying to upsert a document to a collection:

[code]

I get an error thrown from inside `azure.cosmos.cosmos_client`:

[code]

This error had not been encountered in previous uses of the library.

### Investigation

Upon printing the value of `collection` just above that line, I saw t

[2020-02-11 15:42] Druid-of-Luhn commented on #187
It has been almost 2 weeks since I raised this issue. A response, even if it is just an acknowledgement, would be appreciated.

[2020-02-11 18:43] wkeithvan commented on #141
+1... Azure needs to be able to support parsing its own format and not rely on the end user to write a parsing script for this.

[2020-02-19 19:24] brandonmbanks opened #188 "When can we expect 4.* release?"
It looks like 4.0 is going to give us a lot of things that are needed. When can we expect that release? It looks like the last preview release was back on November 18th.

I see that work is being done to [migrate to the azure python sdk mono repo](https://github.com/Azure/azure-cosmos-python/issues/157#issuecomment-489826226). I can see the cosmos module in the [azure sdk for python](https://githu

[2020-02-20 19:22] wkeithvan opened #189 "Documentation is broken due to bad doc string"
[cosmos_client.py#L854](https://github.com/Azure/azure-cosmos-python/blob/0d1343ca7df59bda60bb3ebb5242ec78201d76a2/azure/cosmos/cosmos_client.py#L854) has a bad doc string which is causing the documentation to be messed up [here](https://github.com/Azure/azure-cosmos-python/blob/0d1343ca7df59bda60bb3ebb5242ec78201d76a2/azure/cosmos/cosmos_client.py#L854). Additionally, there is no actual explanati

[2020-02-26 17:30] brandonmbanks commented on #188
Bump. @rnagpal @srinathnarayanan

[2020-03-13 23:41] rfinones-2019 opened #190 "SQL queries with DISTINCT and ORDER BY does not work"
Issuing QueryItems() with DISTINCT and ORDER BY together like below does not work and will yield duplicate results.
SELECT DISTINCT c.FirstSeen, c.ConfigSha256
FROM c
WHERE c.FirstSeen >= '2020-02-12T19:50:43'
ORDER BY c.FirstSeen DESC

Removing the ORDER BY the result returned distinct records
The portal's data explorer was not affected. Only if you are running via python SDK.

[2020-03-30 01:36] afiram opened #191 "old version pydocumentdb source code is missing"
old version pydocumentdb source code is missing

python cosmosdb sdk is

- v1, v2: https://pypi.org/project/pydocumentdb/
- v3 https://pypi.org/project/azure-cosmos/

now 2020-03-30,
https://github.com/Azure/azure-documentdb-python is redirect to https://github.com/Azure/azure-cosmos-python ,  and only exists releases tag is
v3.1.1

so, I forked repo v2.2.1 for quickly reference to.

- https://git

[2020-04-01 03:15] fabidick22 commented on #121
Any update? :thinking:

[2020-04-24 00:27] superfon opened #192 "Sf"
- [ ]

1.

- [x] _**}}÷>₩$  يا.

- `#ثخ0÷}**《《₩~°《¥>₩₩

**_`

`<%:
a-87cc-00878bd19893.png)

&)@   ¤¡]ذ>%₩96%$% على

)
》*<>

- [x] - [ ] { حث٨:تحميل فيلم ٨٥٥

بس لا ٤₩$>》>》>  على     $%%°°€    +》

》{<>[>

1.
1+=¥₩

- 1》)** 4%

- **@**
__
_`
- [ ]

1.

- [ ] _**}}÷>₩$  يا.

- `#ثخ0÷}**《《₩~°《¥>₩₩

**_`

`<%:
a-87cc-00878bd19893.png)

&)@   ¤¡]ذ>%₩96%$% على

)
》*<>

- [ ] - [ ] { حث٨:تحميل فيلم ٨٥٥

[2020-04-24 07:39] vchalmel commented on #192
Say what you want, he has a point !

[2020-04-27 12:31] Rodrigossz opened #193 "Missing information"
Please add a message saying that this is the old repo and with a link to v4 location. Lot's of people is still using this one.

[2020-05-20 09:48] pjachowi opened #195 "SyntaxWarning: "is not" with a literal"
During execution the Python3.8 interpreter gives a warning

azure/cosmos/session.py:186: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if session_token is not '':

https://github.com/Azure/azure-cosmos-python/blob/0d1343ca7df59bda60bb3ebb5242ec78201d76a2/azure/cosmos/session.py#L186

[2020-05-25 19:51] sjhermanek opened #196 "AttributeError: 'CosmosClient' object has no attribute 'ExecuteStoredProcedure'"
I'm trying to write a fairly simple piece of code that invokes a stored procedure in one of my containers.

[code]

When running this, I get the following error:
[code]

Please advise :)

[2020-05-26 10:33] vchalmel commented on #196
Your import should be :
`from azure.cosmos.cosmos_client import CosmosClient`

[2020-05-26 14:39] sjhermanek commented on #196
@vchalmel Just tried, and still running into the same error.

[2020-05-26 15:17] vchalmel commented on #196
Which version of the package are you running ?

[2020-05-26 16:23] sjhermanek commented on #196
I'm using version `4.0.0b6`

[2020-05-26 22:42] southpolesteve commented on #196
@sjhermanek We don't have a sample, but here is a test showing how to execute a stored procedure in the v4 SDK https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/cosmos/azure-cosmos/test/test_crud.py#L622-L644

`execute_stored_procedure` is a method that exists on the container.scripts object. We just released 4.0 and are still working on getting all the docs updated.

If you run into a

[2020-05-26 22:42] #196 closed

[2020-05-26 22:46] southpolesteve opened #197 "Moving to a new repo"
We have moved to the https://github.com/Azure/azure-sdk-for-python repo! 🎉🎉🎉

## V4
4.0 has been released and all active development has been moved to  https://github.com/Azure/azure-sdk-for-python

V4 issues and feature requests will move to azure-sdk-for-python. Any new issues opened on this repo that are V4 bugs or feature requests will be moved to the azure-sdk-for-python repo.

## V3
For the

[2020-05-26 22:47] #153 closed

[2020-05-26 22:50] #192 closed

[2020-05-26 22:51] southpolesteve commented on #188
4.0 has been released from the monorepo! 😃 Future development will happen there.

[2020-05-26 22:51] #188 closed

[2020-05-26 22:52] #169 closed

[2020-05-26 22:53] southpolesteve commented on #139
4.0 has been released and supports Python 3.x. If you run into any further issues you can open them in our new monorepo https://github.com/Azure/azure-sdk-for-python

[2020-05-26 22:53] #139 closed

[2020-05-26 22:54] southpolesteve commented on #157
4.0 has been released. Active development will happen here https://github.com/Azure/azure-sdk-for-python

[2020-05-26 22:54] #157 closed

[2020-05-26 22:58] southpolesteve commented on #5
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 22:58] #5 closed

[2020-05-26 22:58] southpolesteve commented on #20
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 22:58] #20 closed

[2020-05-26 22:59] southpolesteve commented on #43
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 22:59] #43 closed

[2020-05-26 22:59] southpolesteve commented on #46
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 22:59] #46 closed

[2020-05-26 22:59] southpolesteve commented on #52
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 22:59] #52 closed

[2020-05-26 22:59] southpolesteve commented on #70
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 22:59] #70 closed

[2020-05-26 22:59] southpolesteve commented on #81
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 22:59] #81 closed

[2020-05-26 23:00] southpolesteve commented on #87
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:00] #87 closed

[2020-05-26 23:00] southpolesteve commented on #90
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:00] #90 closed

[2020-05-26 23:01] southpolesteve commented on #94
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:01] #94 closed

[2020-05-26 23:01] southpolesteve commented on #98
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:01] #98 closed

[2020-05-26 23:02] southpolesteve commented on #99
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:02] #99 closed

[2020-05-26 23:02] southpolesteve commented on #104
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:02] #104 closed

[2020-05-26 23:03] southpolesteve commented on #111
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:03] #111 closed

[2020-05-26 23:03] southpolesteve commented on #106
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:03] #106 closed

[2020-05-26 23:03] southpolesteve commented on #112
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:03] #112 closed

[2020-05-26 23:05] southpolesteve commented on #124
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:05] #124 closed

[2020-05-26 23:06] southpolesteve commented on #129
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:06] #129 closed

[2020-05-26 23:06] southpolesteve commented on #127
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:06] #127 closed

[2020-05-26 23:06] #130 closed

[2020-05-26 23:10] southpolesteve commented on #131
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:10] #131 closed

[2020-05-26 23:11] southpolesteve commented on #135
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:11] #135 closed

[2020-05-26 23:11] southpolesteve commented on #137
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:11] #137 closed

[2020-05-26 23:12] southpolesteve commented on #148
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:12] #148 closed

[2020-05-26 23:12] southpolesteve commented on #136
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:12] #136 closed

[2020-05-26 23:13] southpolesteve commented on #128
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:13] #128 closed

[2020-05-26 23:13] #149 closed

[2020-05-26 23:20] southpolesteve commented on #144
Closing this issue due to age. Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. We have also released 4.0 which includes many updates and new features. If this issue still needs our attention, please reopen it in the new repository.

[2020-05-26 23:20] #144 closed

[2020-05-26 23:27] southpolesteve commented on #193
Done! Active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python. README has been updated.

[2020-05-26 23:27] #193 closed

[2020-05-26 23:41] southpolesteve commented on #121
Unfortunately no ETA for direct mode in Python at this time. I wrote up some thoughts about direct mode in the JS SDK repo which describes some of what makes it challenging: https://github.com/Azure/azure-sdk-for-js/issues/4807#issuecomment-519307917

Closing this issue as active development of our Python SDK has moved to https://github.com/Azure/azure-sdk-for-python.

[2020-05-26 23:41] #121 closed

[2020-05-27 17:37] southpolesteve commented on #176
This is not possible with a single client. You'll need a create a client for each region by setting preferred locations to a single value and then deciding which client to use in application code.

[2020-05-27 17:37] #176 closed

[2020-06-15 06:19] comcma commented on #197
Just a heads-up

![image](https://user-images.githubusercontent.com/63817080/84623995-581ee000-ae95-11ea-8230-1158c9e41f50.png)

https://github.com/Azure/azure-sdk-for-pythong should be  https://github.com/Azure/azure-sdk-for-python

[2020-06-15 14:40] southpolesteve commented on #197
Thanks! Updated

[2020-06-21 03:20] aarsan commented on #181
Looks like the latest version of the package fixes this.

[2020-07-17 23:50] yiamo opened #201 "enable autoscaling for database"
I am wondering if we are able to enable autoscaling when we create the database?

[2020-07-20 23:10] southpolesteve commented on #201
This is not possible today and unfortunately I have no ETA. You will need to use the portal, powershell, another SDK, or Azure CLI as a workaround. In the future please open issues in our new central Python repo https://github.com/Azure/azure-sdk-for-python

[2020-07-20 23:10] #201 closed

[2020-07-25 17:30] MaLiN2223 commented on #141
Looks like this is solved in version 4.0.0b2
[from the changelog](https://pypi.org/project/azure-cosmos/):

You can now

[code]

[2020-07-26 22:10] #141 closed

[2020-08-19 02:00] Bazarganigilani opened #202 "Using Python to connect to cosmosDB throws Authorization header doesn't confirm to the required format"
Hi,

I am facing some issue when I use library to connect to my cosmosDB in python3.7. I have setup a private cosmosDB database and it has a private endpoint in my private subnet. I use one VM i the private subnet to run below python codes.

[code]

As you see , it gives me some error regrading mismatch hear authorization. Perhaps, I need to tweek the codes but I do not know how to fix this error?

[2020-08-19 02:01] Bazarganigilani opened #203 "Using Python to connect to cosmosDB throws Authorization header doesn't confirm to the required format"
Hi,

I am facing some issue when I use your library to connect to my cosmosDB in python3.7. I have setup a private cosmosDB database and it has a private endpoint in my private subnet. I use one VM i the private subnet to run below python codes.

[code]

As you see , it gives me some error regrading mismatch hear authorization. Perhaps, I need to tweek the codes but I do not know how to fix this e

[2020-08-19 20:54] southpolesteve commented on #203
Duplicate of https://github.com/Azure/azure-sdk-for-python/issues/13225

[2020-08-19 20:54] #203 closed

[2020-08-20 09:28] Bazarganigilani commented on #203
Hi Steve,

This issue has been resolved for me so you may close or delete the threads.

Thanks,
Mahdi

From: Steve Faulkner
Sent: Thursday, 20 August 2020 6:54 AM
To: Azure/azure-cosmos-python
Cc: Bazarganigilani; Author
Subject: Re: [Azure/azure-cosmos-python] Using Python to connect to cosmosDBthrows Authorization header doesn't confirm to the required format (#203)

Duplicate of Azure/azure-sdk

[2020-08-24 03:01] namnh06 opened #204 "Instance of 'ContainerProxy' has no 'execute_stored_procedure' member"
I follow the instruction at https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-use-stored-procedures-triggers-udfs#stored-procedures---python-sdk

When I implemented this:
`container.execute_stored_procedure(sproc_link)`

the error shows up:

Dig deep into the API at https://docs.microsoft.com/en-us/python/api/overview/azure/cosmosdb?view=azure-python
And yes, there is no execute_stored_proce

[2020-08-24 16:50] southpolesteve commented on #204
@namnh06 It looks like that doc is out of date. There is a sub-object on container that contains what you are looking for:

`container.scripts.execute_stored_procedure()`

Here is a test showing the usage https://github.com/Azure/azure-sdk-for-python/blob/22bd8ce1b08cd20ade20f48de21fa605abbaf232/sdk/cosmos/azure-cosmos/test/test_crud.py#L614-L645

@Rodrigossz can you look at getting the doc fixed?

[2020-11-26 18:50] peterskurt opened #206 "create_item overrides any setting by the user"
In "https://azuresdkdocs.blob.core.windows.net/$web/python/azure-cosmos/4.2.0/_modules/azure/cosmos/container.html#ContainerProxy.create_item"

The create item is supposed to let the user modify the option: disableAutomaticIdGeneration
In the source code, though; this variable is hard set:
[code]

Here's the following call where the behaviour is actually checked and handled.

[code]

Obviously, th

[2021-03-23 21:20] Kanwrk opened #208 "Python SDK - Update Autoscale Throughput"
I am trying to update the Autoscale Throughput using Azure cosmos python SDK, not finding any methods or properties that can be used to update the Autoscale Throughput...

[2021-03-24 03:21] southpolesteve commented on #208
@Kanwrk Can you file an issue in our new central repo? https://github.com/Azure/azure-sdk-for-python. We no longer maintain the Cosmos SDK in this repo.

[2021-03-24 03:21] #208 closed

[2022-11-28 19:36] microsoft-github-policy-service[bot] opened #212 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance